@font-face{
	font-family: myFont;
	src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}




#home{
	background-image: url(img/korea3.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
}

#judul{
	font-family: myFont;
	margin: 150px auto;
	text-shadow: 5px 5px 5px #333;
}

#about{
	height: 25rem;
	padding-top: 3rem;
}

.kontak{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding:1rem;
}

.kontak p a:visited{
	color: white;
}

#flag{
	display: inline-block;
	width: 20rem;
	height: 20rem;
}

@media screen and(min-width: 375px){
	#about{
	height: 120vh;
	padding-top: 3rem;
	font-size: 7rem;

}
}

